* {
	margin: 0;
	padding: 0;
}
header {
		background-color: #87A1FF;
		height: 55px;
		width: 100%;
}
header div {
	background-color: #BBC1FF;
	height: 30px;
	text-align: center;
	font-family: Arial Italic sans-sefil;
	float: left;
	margin-left: 0.28%;
	line-height: 30px;

}
.header1-1 {
	width: 25.5%;

}
.header1-2 {
	width: 48%;
}
.header1-3 {
	width: 25.5%;
}
nav {
		background-color: #87A1FF;
		height: 75px;
		width: 73.5%;
		margin-top: 5px;
		float: left;
		clear: both;
}
nav div {
	background-color: #BBC1FF;
	height: 50px;
	text-align: center;
	font-family: Arial Italic sans-sefil;
	float: left;
	margin-left: 0.28%;
	line-height: 50px;

}
.nav2-1 {
	width: 59%;
}
.nav2-2 {
	width: 40%;
}
.ad {
	width: 26%;
	height: 75px;
	float: right;
	background-color: #6162FF;
	margin-top: 5px;
	text-align: center;
	line-height: 75px;
	font-size: 18px;
}
section {
	background-color: #87A1FF;
	height: 300px;
	width: 73.5%;
	margin-top: 5px;
	float: left;		
}
 section div {
	background-color: #BBC1FF;
	height: 275px;
	text-align: center;
	font-family: Arial Italic sans-sefil;
	float: left;
	margin-left: 0.28%;
	line-height: 50px;
}
.body1 {
	width: 35%;
}
.body2 {
	width: 64%;
}
.ad3 {
	width: 21%;
	display: none;
}
.side {
	background-color: #87A1FF;
	height: 300px;
	width: 26%;
	margin-top: 5px;
	float: right;		
}
.side div {
	background-color: #BBC1FF;
	height: 275px;
	text-align: center;
	font-family: Arial Italic sans-sefil;
	float: left;
	margin: auto 1.28%;
	line-height: 50px;
	width: 97%;
}
footer {
	background-color: #87A1FF;
	height: 30px;
	width: 100%;
	margin-top: 5px;
	float: left;
	line-height: 30px;
	font-size: 20px;
}
@media screen and (max-width: 768px) {
	header {
		height: 55px;
		width: 100%;
	}
	header div {
		height: 30px;
		margin-left: 0.28%;
		line-height: 30px;

	}	
	.header1-1 {
		width: 25.5%;

	}
	.header1-2 {
		width: 48%;
	}
	.header1-3 {
		width: 25.5%;
	}
	nav {
		
		height: 128px;
		width: 100%;		
	}
	nav div {
		height: 50px;
		line-height: 50px;
	}
	.nav2-1 {
		width: 99%;
	}
	.nav2-2 {
		width: 99%;
		margin-top: 5px;
	}
	.ad {
		width: 26%;
		height: 75px;
		line-height: 75px;
		display: none;
	}
	section {
		height: 378px;
		width: 100%;
		margin-top: 5px;		
	}
	 section div {
		height: 100px;
		margin-left: 0.28%;
		line-height: 50px;
	}
	.body1 {
		width: 77%;
	}
	.body2 {
		width: 98%;
		margin-top: 5px;
		height: 250px;
	}
	.ad3 {
		width: 19.5%;
		display: block;
		margin-left: 10px;
		background-color: #6162FF;
	}
	.side {
		height: 100px;
		width: 100%;
		margin-top: 5px;		
	}
	.side div {
		height: 75px;
		line-height: 50px;
		width: 97%;
	}
	footer {
		height: 30px;
		width: 100%;
		line-height: 30px;
	}
}
@media screen and (max-width: 320px) {
	header {
		height: 85px;
		width: 100%;
	}
	header div {
		height: 30px;
		margin-left: 0.28%;
		line-height: 30px;

	}	
	.header1-1 {
		width: 98%;

	}
	.header1-2 {
		width: 48.5%;
		margin-top: 5px;
		margin-right: 5px;
	}
	.header1-3 {
		width: 48%;
		margin-top: 5px;
	}
	nav {
		
		height: 60px;
		width: 100%;		
	}
	nav div {
		height: 30px;
		line-height: 30px;
	}
	.nav2-1 {
		width: 99%;
		display: none;
	}
	.nav2-2 {
		width: 99%;
		margin-top: 5px;
	}
	.ad {
		width: 26%;
		height: 75px;
		line-height: 75px;
		display: none;
	}
	section {
		height: 275px;
		width: 100%;
		margin-top: 5px;		
	}
	 section div {
		height: 45px;
		margin-left: 0.28%;
		line-height: 45px;
	}
	.body1 {
		width: 98%;
	}
	.body2 {
		width: 98%;
		margin-top: 5px;
		height: 150px;
		line-height: 150px;
	}
	.ad3 {
		width: 96.5%;
		margin-top: 5px;
		display: block;
		margin-left: 5px;
		background-color: #6162FF;
	}
	.side {
		height: 100px;
		width: 100%;
		margin-top: 5px;
		display: none;		
	}
	.side div {
		height: 75px;
		line-height: 50px;
		width: 97%;
	}
	footer {
		height: 30px;
		width: 100%;
		line-height: 30px;
	}
}